<!DOCTYPE html>
<htm>
    <head>
        <title>Starbucks</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="asset/apple-icon.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <script language="JavaScript" src="js/scripts.js"></script>
    </head>

    <body id="page-top">
<!------------------------------------Navbar-------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#page-top">
                    <img src="asset/Logo1.png" width="200" height="60">
                  </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="about">About Us</a>
                    <a class="nav-item nav-link" href="team">Team</a>
                    <a class="nav-item nav-link" href="services">Services</a>
                    <a class="nav-item nav-link" href="kontak">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>

    <!------------------------------------Jumbotron-------------------------------------------------------------------------------------->

    <div class="jumbo">
        <img src="asset/banner2.jpg" class="img-fluid">
        </div>

<!------------------------------------Tentang Perushaan-------------------------------------------------------------------------------------->

<section class="page-section team" id="explanation"></section>
            <div class="container kami">

            <div class="col-lg">
                <h2>History Of Us</h2>
                <hr class="">
            </div>

            <div class="row tentang justify-content-center">
                <div class="col-lg">
                <img src="asset/sejarah1.jpg" alt="tentang" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <p>Kedai Starbucks pertama dibuka di Seattle, Washington, pada tanggal 30 Maret 1971 oleh tiga rekanan:
                        guru bahasa Inggris Jerry Baldwin, guru sejarah Zev Siegl, dan penulis Gordon Bowker. Ketiganya terinspirasi
                        oleh pengusaha pemanggangan kopi Alfred Peet, yang mereka kenal secara pribadi, untuk menjual biji kopi berkualitas
                        tinggi beserta peralatannya. Awalnya, perusahaan ini hendak diberi nama Pequod yang diambil dari nama kapal pemburu Moby-Dick,
                        tetapi nama ini ditolak oleh sejumlah pendiri pendamping. Perusahaan ini akhirnya diberi nama sesuai nama mualim satu kapal Pequod, Starbuck.</p>
                        <h5>Visi</h5>
                        <p>The company’s vision is to ‘establish Starbucks as the most recognized and respected brand in the world. </p>
                </div>
            </div>
        </div>


        <div class="container tentang">
            <div class="row tentang justify-content-center">
                <div class="col-lg-8">
                    <h5>Misi</h5>
                    <p>The mission of Starbucks is to establish Starbucks as the premier purveyor of the finest coffee in the world while maintaining our uncompromising
                     principles while we grow Starbucks is committed to a role of environmental leadership in all facets of our business. </p>
                    <p>Kedai Starbucks pertama di luar Amerika Utara dibuka di Tokyo, Jepang pada tahun 1996.
                        Starbucks masuk Britania Raya tahun 1998 melalui akuisisi Seattle Coffee Company (saat itu berkantor pusat di Britania Raya dan memiliki 60 kedai) dengan nilai $83 juta
                        dan mengubah semua merek kedainya menjadi Starbucks. Pada bulan September 2002, Starbucks membuka kedai pertamanya di Amerika Tengah, tepatnya di Mexico City.
                        Tahun 1999, Starbucks bereksperimen dengan makanan di wilayah Teluk San Francisco melalui sebuah jaringan restoran bernama Circadia.
                        Restoran-restoran ini kemudian ditutup dan diubah menjadi kafe Starbucks.
                    </p>
                </div>
                <div class="col-lg">
                    <img src="asset/sejarah2.jpg" alt="tentang" class="img-fluid">
                </div>
            </div>
        </div>


<!------------------------------------Foto Foto-------------------------------------------------------------------------------------->
  <section class="page-section" id="galeri">
      <div class="container">
          <div class="text-center galeri">
              <hr class="my-4 ">
              <h2 class="section-heading text-uppercase">Starbucks Gallery</h2>
              <hr class="my-4 ">
          </div>

              <div class="gallery" id="gallery">

              <a class="foto-link" data-toggle="modal" href="#foto6">
              <div class="mb-3 pics animation">
              <img class="img-fluid" src="asset/foto2.jpg" alt="Card image cap">
              </div></a>

              <a class="foto-link" data-toggle="modal" href="#foto5">
              <div class="mb-3 pics animation">
              <img class="img-fluid" src="asset/foto12.jpg" alt="Card image cap">
              </div></a>

              <a class="foto-link" data-toggle="modal" href="#foto4">
              <div class="mb-3 pics animation">
              <img class="img-fluid" src="asset/foto8.jpg" alt="Card image cap">
              </div></a>

              <a class="foto-link" data-toggle="modal" href="#foto3">
              <div class="mb-3 pics animation">
              <img class="img-fluid" src="asset/foto4.jpg" alt="Card image cap">
              </div></a>

              <a class="foto-link" data-toggle="modal" href="#foto2">
              <div class="mb-3 pics animation">
              <img class="img-fluid" src="asset/foto6.jpg" alt="Card image cap">
              </div></a>

              <a class="foto-link" data-toggle="modal" href="#foto1">
              <div class="mb-3 pics animation">
              <img class="img-fluid" src="asset/foto11.jpg" alt="Card image cap">
              </div></a>

              </div>
          </div>
      </div>
  </section>

<!---------------------------------------Link Foto-------------------------------------------------------------------------------------->
  <div class="foto-modal modal fade" id="foto1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="asset/foto11.jpg" style="width: 500px; height: 700px;" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg">
                          <div class="modal-body">
                              <button class="btn btn-dark" data-dismiss="modal" type="button">
                                  <i class="fas fa-times mr-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="foto-modal modal fade" id="foto2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="asset/foto6.jpg" style="width: 500px; height: 350px;" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg">
                          <div class="modal-body">
                              <button class="btn btn-dark" data-dismiss="modal" type="button">
                                  <i class="fas fa-times mr-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="foto-modal modal fade" id="foto3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="asset/foto4.jpg" style="width: 500px; height: 350px;" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg">
                          <div class="modal-body">
                              <button class="btn btn-dark" data-dismiss="modal" type="button">
                                  <i class="fas fa-times mr-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="foto-modal modal fade" id="foto4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="asset/foto8.jpg" style="width: 500px; height: 700px;" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg">
                          <div class="modal-body">
                              <button class="btn btn-dark" data-dismiss="modal" type="button">
                                  <i class="fas fa-times mr-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="foto-modal modal fade" id="foto5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="asset/foto12.jpg" style="width: 500px; height: 700px;" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg">
                          <div class="modal-body">
                              <button class="btn btn-dark" data-dismiss="modal" type="button">
                                  <i class="fas fa-times mr-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="foto-modal modal fade" id="foto6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="asset/foto2.jpg" style="width: 500px; height: 350px;" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg">
                          <div class="modal-body">
                              <button class="btn btn-dark" data-dismiss="modal" type="button">
                                  <i class="fas fa-times mr-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!----------------------------------------Footer-------------------------------------------------------------------------------------->

  <section id="footer" class="footer">
      <div class="container name">
          <div class="col text-center">
              <h2>Starbucks Indonesia</h2>
              <p>Starbucks Coffee® Indonesia opened its first store in Plaza Indonesia, 17 May 2002. With a genuine connection, Starbucks Coffee® Indonesia are now in
                  137 different locations all around major cities (11 cities), serving Indonesians one cup at a time.</p>
          </div>

          <div class="row">
              <div class="col social-media">
                  <h6>Social Media</h6>
                  <ul class="list-unstyled list-inline social text-center">
                      <li class="list-inline-item"><a href="https://www.facebook.com/StarbucksIndonesia/"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="list-inline-item"><a href="https://twitter.com/SbuxIndonesia/"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="https://www.instagram.com/starbucksindonesia/"><i class="fab fa-instagram"></i></a></li>
                  </ul>
              </div>
              <hr>
          </div>
      </div>

          <div class="row">
              <div class="col text-center copyright">
                  <p>Copyright © 2020. Starbucks Corporation.</p>
              </div>
              <hr>
          </div>

  </section>

<!------------------------------------Javascript-------------------------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</htm>
