<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Form Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="asset/apple-icon.png"/>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body class="login-page">
		<div class="head">
			<div class="login-form">
				<div class="dalam">
					<h1>FORM LOGIN</h1>
					<form id="form" action="/auth" method="POST">
						<label>Name</label>
							<input type="text" id="inputId" name="nama" class="form-control" aria-describedby="nameHelpBlock">
							<small id="nameHelpBlock" class="form-text text-muted">
							  Masukkan nama anda yang sudah terdafatar di sistem.
							</small>
						<label>Password</label>
							<input type="password" id="inputPassword5"  name="password" class="form-control" aria-describedby="passwordHelpBlock">
							<small id="passwordHelpBlock" class="form-text text-muted">
							  Masukan nama anda yang sudah terdafatar.
							</small>
						<input class="login-input" type="submit">
					</form>
					<div class="back text-center">
						<a href="/"><-- Back To Home</a>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.2/dist/sweetalert2.all.min.js"></script>
		<!-- <script>
		$("#form").on("submit", function(e){
			e.preventDefault();
					$.ajax({
					url: "/auth",
					method: "post"
					}).done(d=>{
						Swal.fire({
			        icon: 'success',
			        title: 'Trimakasih',
			        text: 'Telah Memberikan Kritik dan Saranya!',
			        timer: 1500
			    })
			});
			})
	</script> -->
	</body>
</html>
