<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="asset/apple-icon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Starbucks Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0 ml-auto" action="/logout" method="get">
            <button class="btn btn-danger" style="float:right" type="submit">logout</button>
          </form>
        </div>
      </nav>
      <div class="row no-gutters mt-5">
          <div class="col-md-2 bg-dark mt-2 pr-3 pt-4">
            <ul class="nav flex-column ml-3 mb-5">
                <li class="nav-item">
                  <a class="nav-link active text-white" href="dashboard"><i class="fas fa-home mr-3"></i>Dashboard</a><hr class="bg-secondary">
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="feedback"><i class="fas fa-user mr-3"></i>Feedback</a><hr class="bg-secondary">
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="promo"><i class="fas fa-users mr-3"></i>Promo</a><hr class="bg-secondary">
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="produk"><i class="fas fa-users mr-3"></i>Produk</a><hr class="bg-secondary">
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="tim"><i class="fas fa-mug-hot mr-3"></i>Daftar Anggota</a><hr class="bg-secondary">
                  </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="admin"><i class="fas fa-comment-alt mr-3"></i>Kelola Admin</a>
                </li>
              </ul>
          </div>
          <div class="col-md-10 p-5 pt-2">
            <div class="container">
              <div class="feddb">
                  <h1 class="d-flex justify-content-center">Table Kelola Promo</h1>
              </div>
              <div class="p-3 mb-5 bg-dark rounded">
                <table class="table table-dark" id="mytable2">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Promo</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                     <% rows.forEach(function(promoo){ %>
                    <tr>
                      <td><%= promoo.id %></td>
                      <td><%= promoo.promo %></td>
                      <td>
                        <a  href="javascript:void(0);" class="btn btn-sm btn-primary update" data-promo="<%= promoo.promo %>" data-id="<%= promoo.id %>" >Update</a>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
      <!-- Modal Update Promo-->
        <form action="/update" method="post">
            <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <div class="form-group">
                       <input type="text" name="id" class="form-control prom_id" placeholder="Product Name" readonly>
                   </div>
                   <div class="form-group">
                       <input type="text" name="promo" class="form-control promo" placeholder="Product Name" required>
                   </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                 </div>
               </div>
             </div>
            </div>
          </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        //tampilkan data promo ke modal untuk edit
        $('#mytable2').on('click','.update',function(){
          var promo = $(this).data('promo');
          var id = $(this).data('id');
          $('#EditModal').modal('show');
          $('.promo').val(promo);
          $('.prom_id').val(id);
        });
      });
    </script>
  </body>
</html>
