<!DOCTYPE html>
<htm>
    <head>
        <title>Starbucks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="asset/apple-icon.png"/>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <link rel="stylesheet" href="css/style.css">
        <script language="JavaScript" src="js/scripts.js"></script>
    </head>

    <body id="page-top">
<!------------------------------------Navbar-------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#page-top">
                    <img src="asset/Logo1.png" width="200" height="60">
                  </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="about">About Us</a>
                    <a class="nav-item nav-link" href="team">Team</a>
                    <a class="nav-item nav-link" href="services">Services</a>
                    <a class="nav-item nav-link" href="kontak">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>

<!------------------------------------Produk Perusahaan-------------------------------------------------------------------------------------->
<!------------------------------------New Produk-------------------------------------------------------------------------------------->
<div class="newa">
    <div class="tea col-lg">
        <h2>New Product</h2>
        <hr class="">
    </div>
    <div class="row newproduk justify-content-center">
        <div class="col-lg-3">
            <h2>TEA-OLOGY</h2>
            <p>FRUITY, FLAVORFULL AND REFRESHING</p>
        </div>
    <div class="col-lg-5">
        <img src="asset/tea1.png" class="img-fluid">
    </div>
    </div>
</div>
<!------------------------------------Menu-------------------------------------------------------------------------------------->
<section class="page-section" id="explanation"></section>
    <div class="container">

        <div class="kami col-lg">
            <h2>MOST popular beverages</h2>
            <hr class="">
        </div>

        <div class="row tentang justify-content-center">
            <div class="col-lg">
            <img src="asset/produk6.jpg" alt="tentang" class="img-fluid">
            </div>
            <div class="col-lg-9">
            <h5>Brewed Coffee</h5>
            <p>Artfully roasted and brewed fresh all day long, every day!</p>
            <p>We take our coffee brewing seriously. In our travels around the world, we've tasted many a splendid cup of brewed coffee.
                Each one offers something different and unique. Back home in our tasting room, we take these amazing coffees and mix them with beans from other regions. That's how we create some of our most famous blends. </p>
            </div>
        </div>
    </div>

    <div class="container aku">
        <div class="row tentang justify-content-center">
            <div class="col-lg-9">
                <h5>Caramel Frappuccino</h5>
                <p>Buttery caramel syrup meets coffee, milk and ice for a rendezvous in the blender. Then whipped cream and caramel sauce layer the love on top.</p>
            </div>
            <div class="col-lg">
                <img src="asset/produk5.jpg" alt="tentang" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container tentang">
    <div class="row tentang justify-content-center">
        <div class="col-lg">
        <img src="asset/produk4.jpg" alt="tentang" class="img-fluid">
        </div>
        <div class="col-lg-9">
        <h5>Vanilla Cream Frappuccino</h5>
        <p>This rich and creamy blend of vanilla bean, milk and ice topped with whipped cream takes va-va-vanilla flavor to another level.
            To change things up, try it Affogato-style by adding an Affogato-style shot: a hot espresso shot poured right over the top.</p>
        </div>
    </div>
</div>


<!------------------------------------Makanan Produk-------------------------------------------------------------------------------------->

<section class="page-section" id="explanation"></section>
    <div class="container">

        <div class="kami col-lg" >
            <h2>MOST popular food</h2>
            <hr class="">
        </div>

        <div class="row tentang justify-content-center">
            <div class="col-lg">
            <img src="asset/food1.jpg" alt="tentang" class="img-fluid">
            </div>
            <div class="col-lg-7">
            <h5>Beef Sausage & Cheese Croissant</h5>
            <p>This classic croissant is made with 100 percent butter to create a golden, crunchy top and soft, flaky layers inside. </p>
            </div>
        </div>
    </div>

    <div class="container aku">
        <div class="row tentang justify-content-center">
            <div class="col-lg-7">
                <h5>Savory Pies</h5>
                <p>Treat your palette with these appetizing savory pies </p>
            </div>
            <div class="col-lg">
                <img src="asset/food2.jpg" alt="tentang" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container tentang">
    <div class="row tentang justify-content-center">
        <div class="col-lg">
        <img src="asset/food5.jpg" alt="tentang" class="img-fluid">
        </div>
        <div class="col-lg-7">
        <h5>Sandwiches</h5>
        <p>Level-up lunch with fresh ingredients and irresistible combinations. </p>
        </div>
    </div>
</div>

<!------------------------------------List Harga-------------------------------------------------------------------------------------->
<div class="container tabel">
    <div class="kami col-lg" >
        <h2>List Menu</h2>
        <hr class="">
    </div>
<div class="kuyet bg-dark ">
  <table class="table table-dark">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama</th>
          <th scope="col">Harga</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% rows.forEach(function(produk, index){ %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= produk.nama %></td>
          <td>Rp. <%= produk.harga %></td>
          <td>
            <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-sm btn-primary">Buy</button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    </div>
  </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Startbucks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <p>Jumlah</p>
              <input type="text" class="form-control" placeholder="Jumlah" required>
          </div>
          <p>Ukuran</p>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Pilih Ukuran...</option>
            <option value="1">Demi</option>
            <option value="2">Short</option>
            <option value="3">Tall</option>
            <option value="4">Grande</option>
            <option value="5">Venti</option>
            <option value="5">Trenta</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" id="tukuu" class="btn btn-primary">Order Now</button>
      </div>
    </div>
  </div>
</div>




<!----------------------------------------Footer-------------------------------------------------------------------------------------->

<section id="footer" class="footer">
<div class="container name">
    <div class="col text-center">
        <h2>Starbucks Indonesia</h2>
        <p>Starbucks Coffee® Indonesia opened its first store in Plaza Indonesia, 17 May 2002. With a genuine connection, Starbucks Coffee® Indonesia are now in
    137 different locations all around major cities (11 cities), serving Indonesians one cup at a time.</p>
</div>

<div class="row">
    <div class="col social-media">
        <h6>Social Media</h6>
        <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="https://www.facebook.com/StarbucksIndonesia/"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/SbuxIndonesia/"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/starbucksindonesia/"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <hr>
    </div>
</div>

<div class="row">
  <div class="col text-center copyright">
        <p>Copyright © 2020. Starbucks Corporation.</p>
    </div>
  <hr>
</div>

</section>

<!------------------------------------Javascript-------------------------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.2/dist/sweetalert2.all.min.js"></script>
    <script src="/js/scripts.js"></script>
    </body>
</htm>
