<!DOCTYPE html>
<htm>
    <head>
        <title>Starbucks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="asset/apple-icon.png"/>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <script language="JavaScript" src="js/scripts.js"></script>
    </head>

    <body id="page-top">
<!------------------------------------Navbar-------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#page-top">
                    <img src="asset/Logo1.png" width="200" height="60">
                  </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="about">About Us</a>
                    <a class="nav-item nav-link" href="team">Team</a>
                    <a class="nav-item nav-link" href="services">Services</a>
                    <a class="nav-item nav-link" href="kontak">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>

<!------------------------------------Data Team Kelompok-------------------------------------------------------------------------------------->
<div class="jumboo">
  <img src="asset/banner1.jpg" class="img-fluid">
  </div>
<section id="team" class="team">
  <div class="container">

    <div class="section-title">
      <h2>Our Hardworking Team</h2>
      <hr class="">
      <p>Team</p>
    </div>

    <div class="row anggota">

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="member-img">
            <img src="asset/team.png" class="img-fluid" alt="">
            <div class="social">
              <a href=""><img src="asset/linkedin.png"></i></a>
              <a href=""><img src="asset/instagram.png"></i></a>
              <a href=""><img src="asset/facebook.png"></i></a>
              <a href=""><img src="asset/twitter.png"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Teguh Efriyanto</h4>
            <span>Backend Developer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="asset/team2.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><img src="asset/linkedin.png"></i></a>
              <a href=""><img src="asset/instagram.png"></i></a>
              <a href=""><img src="asset/facebook.png"></i></a>
              <a href=""><img src="asset/twitter.png"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Dimas Pramana</h4>
            <span>Mockup Design & Frontend Developer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="asset/team3.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><img src="asset/linkedin.png"></i></a>
              <a href=""><img src="asset/instagram.png"></i></a>
              <a href=""><img src="asset/facebook.png"></i></a>
              <a href=""><img src="asset/twitter.png"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Septa Najibul</h4>
            <span>Mockup Design & Frontend Developer</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="asset/team4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><img src="asset/linkedin.png"></i></a>
                <a href=""><img src="asset/instagram.png"></i></a>
                <a href=""><img src="asset/facebook.png"></i></a>
                <a href=""><img src="asset/twitter.png"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Tatak Goresta Putra Nanda</h4>
              <span>Backend Developer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="asset/team5.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><img src="asset/linkedin.png"></i></a>
                <a href=""><img src="asset/instagram.png"></i></a>
                <a href=""><img src="asset/facebook.png"></i></a>
                <a href=""><img src="asset/twitter.png"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Ardiyanto Saputra</h4>
              <span>Backend Developer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="asset/team6.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><img src="asset/linkedin.png"></i></a>
                <a href=""><img src="asset/instagram.png"></i></a>
                <a href=""><img src="asset/facebook.png"></i></a>
                <a href=""><img src="asset/twitter.png"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Gilang Anugerah Multi</h4>
              <span>Mockup Design & Frontend Developer</span>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<!----------------------------------------Footer-------------------------------------------------------------------------------------->

<section id="footer" class="footer">
    <div class="container name">
        <div class="col text-center">
            <h2>Starbucks Indonesia</h2>
            <p>Starbucks Coffee® Indonesia opened its first store in Plaza Indonesia, 17 May 2002. With a genuine connection, Starbucks Coffee® Indonesia are now in
                137 different locations all around major cities (11 cities), serving Indonesians one cup at a time.</p>
        </div>

        <div class="row">
            <div class="col social-media">
                <h6>Social Media</h6>
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/StarbucksIndonesia/"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/SbuxIndonesia/"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/starbucksindonesia/"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
    </div>

        <div class="row">
            <div class="col text-center copyright">
                <p>Copyright © 2020. Starbucks Corporation.</p>
            </div>
            <hr>
        </div>

</section>

<!------------------------------------Javascript-------------------------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</htm>
