
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #808080;
}

.add{
  margin-bottom: 10px;
}

.nav-link:hover{
    background-color: gray;
}

.card-body-icon{
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;
}

.hidetext{
  -webkit-text-security: none;
  -webkit-text-security: circle;
  -webkit-text-security: square;
}
